@import url('https://fonts.googleapis.com/css?family=Open+Sans:300|Playfair+Display:700&display=swap&subset=latin-ext');

html {
  font-family: 'Open Sans', sans-serif;
  font-size: 15px;
}

h1,
h2 {
  font-family: 'Playfair Display', serif;
  margin: 0;
}

body {
  background-color: #ffefef;
}

main {
  background-color: #ffffff;
  margin: 4rem 7rem;
  padding: 4rem;
}

header {
  text-align: center;
}

.logo {
  width: 350px;
}

.pokrm {
  display: flex;
}

.pokrm__reverse {
  flex-direction: row-reverse;
}


.pokrm__popis {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  padding: 5rem;
}

.pokrm__popis--reverse {
  justify-content: right;
}

.pokrm__fotka {
  width: 300px;
}

.nabidka {
  text-align: center;
}

.nabidka__fotky {
  display: flex;
  justify-content: space-between;
  margin: 3rem 0;
}

.nabidka__fotky img {
  width: 30%;
}

.pokrm__btn {
  background-color: #ffefef;
  border: none;
  padding: 1rem;
  width: 10rem;
}

.obsah {
  display: flex;
  justify-content: space-between;
}

.obsah__sloupec {
  flex-basis: 45%;
  text-align: left;
}

p {
  margin: 3rem 0;
}

footer p {
  text-align: center;
  margin: 0 300px 50px 300px;
}